{{>header}}
<section class="py-5 px-3">
    <h2>Location</h2>
    <!--<form action="weather?">-->
    <form action="">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control required" placeholder="Asia/Dhaka" name="address" aria-required="true">
                        <div class="input-group-append">
                            <button class="btn btn-primary" name="subscribe" type="submit">Search</button>
                        </div>
                </div>
            </div>
        </div>
    </form>
    <p class="text-danger error-msg"></p>
    <p id="message-1"></p>
    <div id="message-2"></div>
</section>
{{>footer}}
