<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/custom-app.js"></script>
    </head>
    <body>
        <div>
            {{>header}}
            <h1>{{title}}</h1>
            <h1>Create by {{name}}</h1>
        </div>
    </body>
</html>