.nav-item.active .nav-link {
    font-weight: 600;
    color: #FFF;
}
input {
    border: 1px solid #ddd;
    padding: 8px 15px;
}
button {
    cursor: pointer;
    border: 1px solid #AAA;
    background: #AAA;
    color: white;
    padding: 8px 15px;
}

