h1 {
    font-size: 40px;
    color: gray;
}

.about-img {
    width: 200px;
}
input {
    border: 1px solid #ddd;
    padding: 8px 15px;
}
button {
    cursor: pointer;
    border: 1px solid #AAA;
    background: #AAA;
    color: white;
    padding: 8px 15px;
}